@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&family=Lexend+Deca&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');


:root {
    font-family: Lexend Deca;
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: (paragraphs): hsla(0, 0%, 100%, 0.75);--Very-light-gray:  hsl(0, 0%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 0.9375rem;
    background-color: var(--Very-light-gray);
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.card_component{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}

.card_content{
    width: 320px;
    height: 340px;
    padding: 2.7rem;
}

.card_component h2{
    font-family: "Big shoulder display", cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    margin-block: 1rem;
}

.card_content p {
    color: var(--Transparent-white);
}

.sedan{
    background-color: var(--Bright-orange);
    border-radius: 5px 5px 0 0;
}

.suvs{
    background-color: var(--Very-dark-cyan);
}

.Luxury{
    background-color:var(--Dark-cyan);
    border-radius:0 0 5px 5px;
}

.card_content button {
    margin-top: 1rem;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 0.6rem 1.2rem;
    text-transform: capitalize;
}

.sedan button{
    color: var(--Bright-orange);
}

.suvs button{
    color: var(--Dark-cyan);
}

.Luxury button{
    color: var(--Dark-cyan);
}

.sedan button:hover{
    background-color: var(--Bright-orange);
    border: 1px solid var(--Transparent-white);
    color: var(--Transparent-white);
}

.suvs button:hover{
    background-color: var(--Bright-orange);
    border: 1px solid var(--Transparent-white);
    color: var(--Transparent-white);
}

.Luxury button:hover{
    background-color: var(--Very-dark-cyan);
    border: 1px solid var(--Transparent-white);
    color: var(--Transparent-white);
}

/* desktop view */
@media screen  and (min-width: 1440px) {
    body{
        font-size: 1rem;
        min-height: 100vh;
    }
.card_component{
    grid-template-columns: repeat(3, 1fr);
}

.card_content{
    width: 400px;
    height: 500px;
    padding: 4.7rem;
    line-height: 1.8rem;
}

.card_content button {
    margin-top: 5rem;
    padding: 1rem 2rem;
    border-radius: 20px;
}
}